<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetMind.IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StyleHome.css') }}?v={{ time }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/PetMind.jpeg') }}" alt="imagem-redonda" class="imagem-redonda">
        <h1>Bem-vindo à PetMind.IA </h1>
        <img src="{{ url_for('static', filename='img/BlackCat.png') }}" alt="gato-preto" class="gato-esquerda">
        <img src="{{ url_for('static', filename='img/BlackDog.png') }}" alt="cachorro-preto" class="cachorro-direita">
        <p>O FUTURO DOS PETSHOPS JÁ CHEGOU.<br><br>
        IMAGINE UM ESPAÇO ONDE INTELIGÊNCIA ARTIFICIAL E TECNOLOGIA GARANTEM O BEM-ESTAR COMO NUNCA VISTO ANTES.<br><br>
        MONITORAMENTO EM TEMPO REAL, RECOMENDAÇÕES PERSONALIZADAS E UM AMBIENTE PENSADO PARA A FELICIDADE DOS ANIMAIS E CUIDANDO DA SAÚDE MENTAL DOS SERES HUMANOS.<br><br>
        BEM-VINDO AO PETSHOP INTELIGENTE, ONDE INOVAÇÃO E CARINHO ANDAM LADO A LADO!</p>
        <a href="{{ url_for('chatbot') }}">Ir para o ChatBot</a>
    </div>
</body>
</html>