<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StyleChat.css') }}?v={{ time }}">
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='img/PetMind.jpeg') }}" alt="imagem-redonda" class="imagem-redonda">
    </header>
    
    <div class="chat-container">
      
      <div id="chat-messages" id="chat-messages"></div>

      <div class="chat-input">
        <input type="text" id="user-input" placeholder="Digite sua mensagem..." />
        <button onclick="enviarMensagem()">Enviar</button>
      </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  </body>
</html>